:root {
    --THEME_EXPENSE_RED: #ef2917;
    --THEME_INCOME_GREEN: #008148;
    --THEME_BACKGROUND_WHITE: #e9ebf0;
    --THEME_BUDGET_BLUE: #3891a6;
    --FONT-COLOR: #022b3a;
}

.popupModal-icon-style {
    padding-right: 10px;
    vertical-align: middle;
}

.popupModal-icon-label-style {
    vertical-align: middle;
    font-size: 17px;
}

.budget-transactions-container {
    display: flex;
    flex-direction: row;
}

.expenses-income-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 2000px;
    margin: 0 auto;
    flex-wrap: wrap;
    /* Allows wrapping for smaller screens */
}

.login-card{
    max-width: 500px;
    max-height: max-content;
    margin: auto;
    margin-top: 100px;
}

@media (max-height: 600px) {
    .login-card{
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .expenses-income-container {
        flex-direction: column;
        /* Stack panels on small screens */
    }
}

@media (max-width: 1100px) {
    .budget-transactions-container {
        flex-direction: column;
    }
}